<nav
  class="relative bg-gray-800 after:pointer-events-none after:absolute after:inset-x-0 after:bottom-0 after:h-px after:bg-white/10 z-50"
>
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <div class="flex space-x-4">
            <a
              href="#"
              aria-current="page"
              class="rounded-md bg-gray-950/50 px-3 py-2 text-sm font-medium text-white"
              >ERP</a
            >
          </div>
      </div>
      <!-- Logo y enlaces escritorio -->
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex shrink-0 items-center">
          <img
            src="https://jams797.com/img/viamatica.png"
            alt="Your Company"
            class="h-8 sm:h-8 md:h-8 w-auto"
          />
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <a
              aria-current="page"
              class="rounded-md bg-gray-950/50 px-3 py-2 text-sm font-medium text-white"
              >ERP</a
            >
          </div>
        </div>
      </div>

      <!-- Botones derecho -->
      <div
        class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
      >
        <button
          type="button"
          class="relative rounded-full p-0.5 text-white ring-3 ring-indigo-500"

        >
          <span class="absolute -inset-1.5"></span>
          <span class="sr-only">View notifications</span>
          <img
            src="escudo.png"
            alt=""
            class="size-8 rounded-full bg-gray-800 outline -outline-offset-1 outline-white/10 text-white"
          />
        </button>
      </div>
    </div>
  </div>
</nav>
